<div class="header">
  <div class="header-left">
  </div>
  <div class="header-right">
    <nz-radio-group [(ngModel)]="lang" (ngModelChange)="changeLang()">
      <label nz-radio nzValue="zh">中文</label>
      <label nz-radio nzValue="en">English</label>
    </nz-radio-group>
    <nz-dropdown [nzPlacement]="'bottomCenter'" style="width: 100px;text-align: center">
      <a nz-dropdown>
        <nz-avatar nz-tooltip [nzTitle]="fullname" nzPlacement="left" [nzText]="name" nzSize="large" [ngStyle]="{'background-color':color}" style="vertical-align: middle;"></nz-avatar>
      </a>
      <ul nz-menu nzSelectable style="margin-top: 10px;">
        <li nz-menu-item>
          <a (click)="modify()">{{"user.info" | translate}}</a>
        </li>
        <li nz-menu-item *ngIf="modifyPwd">
          <a (click)="createTplModal(tplTitle, tplContent, tplFooter)">{{"user.password.modify" | translate}}</a>
        </li>
        <li nz-menu-item>
          <a (click)="loginOut()">{{"user.loginOut" | translate}}</a>
        </li>
      </ul>
    </nz-dropdown>

  </div>
</div>
<div class="content">
  <div class="content-menu">
    <ul nz-menu [nzMode]="'inline'" style="width: 240px;">
      <li *ngIf="user.name === 'admin'" nz-menu-item (click)="go('case')">
        <span title><i nz-icon type="layout" theme="outline"></i>{{"menu.case" | translate}}</span>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="user" theme="outline"></i>{{"menu.user.manager" | translate}}</span>
        <ul>
          <li nz-menu-item (click)="go('user/list')">{{"menu.user.list" | translate}}</li>
          <!--<li nz-menu-item>Option 10</li>-->
          <!--<li nz-menu-item>Option 11</li>-->
        </ul>
      </li>
      <li nz-menu-item (click)="go('tools')">
        <span title><i nz-icon type="tool" theme="outline"></i>{{"menu.tools" | translate}}</span>
      </li>
      <!--<li nz-submenu>-->
        <!--<span title><i class="anticon anticon-mail"></i> Navigation One</span>-->
        <!--<ul>-->
          <!--<li nz-menu-group>-->
            <!--<span title>Item 1</span>-->
            <!--<ul>-->
              <!--<li nz-menu-item>Option 1</li>-->
              <!--<li nz-menu-item>Option 2</li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li nz-menu-group>-->
            <!--<span title>Item 2</span>-->
            <!--<ul>-->
              <!--<li nz-menu-item>Option 3</li>-->
              <!--<li nz-menu-item>Option 4</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li nz-submenu>-->
        <!--<span title><i class="anticon anticon-appstore"></i> Navigation Two</span>-->
        <!--<ul>-->
          <!--<li nz-menu-item>Option 5</li>-->
          <!--<li nz-menu-item>Option 6</li>-->
          <!--<li nz-submenu>-->
            <!--<span title>Submenu</span>-->
            <!--<ul>-->
              <!--<li nz-menu-item>Option 7</li>-->
              <!--<li nz-menu-item>Option 8</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #tplTitle>
  <span>{{"user.password.modify" | translate}}</span>
</ng-template>
<ng-template #tplContent>
  <l-form class="login-form" [config]="config" [data]="data">
  </l-form>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="modifyPassword()" [disabled]="!config.formGroup.valid"  [nzLoading]="tplModalButtonLoading">{{"common.operate.confirm" | translate}}</button>
  <button nz-button (click)="destroyTplModal()">{{"common.operate.cancel" | translate}}</button>
</ng-template>


