<div class="header">
  <div class="header-left">
  </div>
  <div class="header-right">
    <nz-radio-group [(ngModel)]="lang" (ngModelChange)="changeLang()">
      <label nz-radio nzValue="zh">中文</label>
      <label nz-radio nzValue="en">English</label>
    </nz-radio-group>
    <nz-avatar [nzText]="text" nzSize="large" [ngStyle]="{'background-color':color}" style="vertical-align: middle;"></nz-avatar>
  </div>
</div>
<div class="content">
  <div class="content-menu">
    <ul nz-menu [nzMode]="'inline'" style="width: 240px;">
      <li nz-menu-item (click)="go('case')">
        <span title><i class="anticon anticon-mail"></i>{{case}}</span>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-setting"></i>用户管理</span>
        <ul>
          <li nz-menu-item (click)="go('user/list')">用户列表</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-mail"></i> Navigation One</span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-appstore"></i> Navigation Two</span>
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu>
            <span title>Submenu</span>
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

