<div class="main-container">
  <button class="trans"><p class="slideShine">Other men live to eat<br> while I eat to live.</p></button>
  <div class="circle-group">
    <div class="circle-container circle1">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle2">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle3">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle4">
      <div class="circle"></div>
    </div>
  </div>
  <div class="login-container">
    <div class="login-title">用户登录</div>
    <l-form class="login-form" [config]="config" [data]="data">
      <button nz-button class="login-btn" [nzType]="'primary'" (click)="login()">登录</button>
    </l-form>
  </div>
</div>
