<div class="main-container">
  <button class="trans"><p class="slideShine">Other men live to eat<br> while I eat to live.</p></button>
  <div class="circle-group">
    <div class="circle-container circle1">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle2">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle3">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle4">
      <div class="circle"></div>
    </div>
  </div>
  <div class="login-container">
    <div class="login-title">{{"user.login" | translate}}</div>
    <l-form class="login-form" [config]="config" [data]="data">
    </l-form>
    <button nz-button class="login-btn" [nzType]="'primary'" (click)="login()" [disabled]="!config.formGroup.valid">{{"login" | translate}}</button>
    <nz-radio-group [(ngModel)]="lang" (ngModelChange)="setDefaultLang()">
      <label nz-radio nzValue="zh">中文</label>
      <label nz-radio nzValue="en">English</label>
    </nz-radio-group>
  </div>
</div>
