<button nz-button [nzType]="'primary'" (click)="go('/pages/user/insert')" style="margin: 0 10px 20px 0">{{"add" | translate}}</button>
<button nz-button [nzType]="'primary'" [disabled]="!this.allChecked && !this.indeterminate" (click)="deleteUsers()" style="margin: 0 10px 20px 0">{{"delete" | translate}}</button>

<nz-table #nzTable
          [nzData]="dataSet"
          [nzLoading]="loading"
          [nzTotal]="totalCount"
          [(nzPageIndex)]="params.pageNum"
          [(nzPageSize)]="params.pageSize"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData()">
  <thead>
  <tr>
    <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
    <th nzWidth="200px" nzLeft="0px">{{"user.username" | translate}}</th>
    <th nzWidth="100px" nzLeft="100px">{{"user.age" | translate}}</th>
    <th nzWidth="200px">{{"user.nickname" | translate}}</th>
    <th nzWidth="300px">{{"user.email" | translate}}</th>
    <th nzWidth="400px">{{"user.createTime" | translate}}</th>
    <th nzWidth="200px" nzRight="0px">{{"operate" | translate}}</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let data of nzTable.data">
    <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
    <td nzLeft="0px">{{data.name}}</td>
    <td nzLeft="100px">{{data.age}}</td>
    <td>{{data.nickname}}</td>
    <td>{{data.email}}</td>
    <td>{{data.createTime}}</td>
    <td nzRight="0px">
      <a nz-tooltip nzTitle="{{'edit' | translate}}" class="operate-icon"  (click)="go('/pages/user/detail')"><i class="anticon anticon-edit"></i></a>
      <a nz-tooltip nzTitle="{{'password_modify' | translate}}"  (click)="createTplModal(tplTitle, tplContent, tplFooter, data.id)" class="operate-icon"><i class="anticon anticon-reload"></i></a>
      <a nz-tooltip nzTitle="{{'delete' | translate}}" class="operate-icon" (click)="delete(data.id)"><i class="anticon anticon-delete"></i></a>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #tplTitle>
  <span>{{"password_modify" | translate}}</span>
</ng-template>
<ng-template #tplContent>
  <l-form class="login-form" [config]="config" [data]="data">
  </l-form>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="resetPwd()" [disabled]="!config.formGroup.valid"  [nzLoading]="tplModalButtonLoading">{{"confirm" | translate}}</button>
  <button nz-button (click)="destroyTplModal()">{{"cancel" | translate}}</button>
</ng-template>


