<div>
  <form [formGroup]="_formGroup">
    <div class="form-container">
      <ng-container *ngFor="let item of config.items">
        <div class="item-item" [style.width]="item.width ? item.width: '100%'">
          <div *ngIf="!item.removeLabel" class="item-item-label" [ngStyle]="item.labelStyle">
            <span>
              <em *ngIf="item.required" style="color: red;">*</em>
                {{item.label}}
                <nz-tooltip [nzTitle]="item.labelMsg" [nzPlacement]="'bottom'" *ngIf="item.labelMsg">
                <span nz-tooltip><i class="anticon anticon-info-circle-o"></i></span>
                </nz-tooltip>
            </span>
          </div>
          <div class="item-item-content">
            <div class="item-item-component" [ngSwitch]="item.type">
              <div *ngSwitchCase="'text'" class="item-item-text" [title]="data[item.key]">
                {{data[item.key]}}
              </div>
              <div *ngSwitchCase="'input'">
                <input nz-input autocomplete="off"
                       [style.width]="item.inputWith || '160px'"
                       placeholder="{{item.placeholder || lang.input_placeholder}}"
                       formControlName="{{item.key}}"/>
              </div>
              <div *ngSwitchCase="'password'">
                <input nz-input autocomplete="off"
                       [style.width]="item.inputWith || '160px'"
                       type="password"
                       placeholder="{{item.placeholder || lang.input_placeholder}}"
                       formControlName="{{item.key}}"/>
              </div>
              <div *ngSwitchCase="'radio'">
                <nz-radio-group (ngModelChange)="modelChange(_formGroup.controls, $event, item.key)"
                                formControlName="{{item.key}}">
                  <ng-container *ngFor="let option of item.options">
                    <label nz-radio [nzDisabled]="disabled || option.disabled"
                           [nzValue]="option.value">{{option.label}}</label>
                  </ng-container>
                </nz-radio-group>
              </div>
              <ng-container *ngIf="item.suffix">
                <div *ngIf="isString(item.suffix)" [innerHTML]="item.suffix"></div>
                <ng-template *ngIf="!isString(item.suffix)" [ngTemplateOutlet]="item.suffix"></ng-template>
              </ng-container>
              <i nz-icon class="anticon anticon-loading anticon-spin" style="margin-left: -20px;" *ngIf="_formGroup.controls[item.key].pending"></i>
            </div>
            <!-- 错误提示 -->
            <div class="item-item-error">
              <div
                *ngIf="!_formGroup.controls[item.key].valid && (_formGroup.controls[item.key].dirty || _formGroup.controls[item.key].touched ||(data[item.key] != null && data[item.key] != undefined))">
                <ng-container *ngFor="let rule of item.rules">
                  <div class="item-item-error-msg" *ngIf="_formGroup.controls[item.key].hasError(rule.code)">
                    <span>{{rule.msg}}</span>
                  </div>
                </ng-container>
                <ng-container *ngFor="let rule of item.asyncRules">
                  <div class="item-error-msg" *ngIf="_formGroup.controls[item.key].hasError(rule.asyncCode)">
                    <span>{{rule.msg}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
  <div class="btn-container">
    <ng-content select="button"></ng-content>
    <button *ngFor="let btn of buttons"
            nz-button class="form-btn"
            [nzType]="btn.type || 'default'"
            [nzLoading]="btn.isLoading"
            [disabled]="btn.check && !_formGroup.valid"
            (click)="btn.clickEvent()">{{btn.text}}
    </button>
  </div>
</div>
