<div class="container">
  <button class="trans">
    <p class="slideShine">
      <span style="font-size: 33px;">404 Not Found</span><br>页面找不到了!
    </p>
  </button>
  <div class="circle-group">
    <div class="circle-container circle1">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle2">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle3">
      <div class="circle"></div>
    </div>
    <div class="circle-container circle4">
      <div class="circle"></div>
    </div>
  </div>
</div>
