.animation::after {
  content:'';
  display: block;
  width:2px;
  height:16px;
  animation: blink 1s infinite steps(1, start)
}
@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
