/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ng-easyui/themes/material/easyui.css';
@import '~ng-easyui/themes/angular.css';
@import '~ng-easyui/themes/icon.css';

.bg-r {
  color: red;
}

/**
修改input的placeholder的样式
 */
input::-webkit-input-placeholder {  /* Webkit Browsers */
  font-size: 12px;
}
input:-moz-placeholder {   /* Mozilla Firefox 4-18 */
  font-size: 12px;
}
input::-moz-placeholder {  /* Mozilla Firefox 19+ */
  font-size: 12px;
}
input:-ms-input-placeholder {  /* Internet Explore 10+ */
  font-size: 12px;
}

input[disabled] {
  background-color: white;
  color: rgba(0,0,0,.65);
}
